@font-face {
    font-family: 'Noto Sans Avestan';
    src: url('../fonts/notosansavestan-regular-webfont.woff2') format('woff2'),
        url('../fonts/notosansavestan-regular-webfont.woff') format('woff');
    font-weight: 400;
}