@use './colors' as color;
@use './fonts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Avestan', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-fg-default);
}